---
import type { Chip } from "../data/site";

interface Props {
  chips: Chip[];
  class?: string;
}

const { chips, class: className = "" } = Astro.props;
---

{chips.length > 0 && (
  <ul class:list={["chip-row", className]} role="list">
    {chips.map((chip) => (
      <li class="chip">{chip}</li>
    ))}
  </ul>
)}
